# K-means에 따른 맥주추천 컨셉

1. 사용자가 호감을 표시한 맥주의 정보를 가져온다.
2. 호감 맥주의 유사도를 계산한다. (0,1로 나눈 각각의 범주에서 더 많은 숫자를 채택)
3. 호감맥주 유사도를 기준으로 가장 비슷한 맥주를 추천한다.

# K-Means 알고리즘 사용루틴

In [593]:
from sklearn import datasets
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import KMeans

데이터 불러오기

In [580]:
data01 = pd.read_csv("../data/K-means 테스트용 데이터-2-train.csv",encoding='utf-8')
train = data01.iloc[:,2:]

국가에 가중치를 줬다.<br> 실제 학습된 결과를 보면 국적을 기준으로 나뉜다

In [587]:
train['영국'] = train['영국']*3
train['아르헨티나'] = train['아르헨티나']*3
train['벨기에'] = train['벨기에']*3

In [588]:
train

,정제수,보리맥아,귀리맥아,설탕,스페인 감초 분말,호프,효모,민타임,안호이저 부시 인베브,AB 인베브 벨지움,세인트 오스텔 브루어리,영국,아르헨티나,벨기에
0,0,0,0,0,0,0,0,1,0,0,0,9,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,9,0
2,0,0,0,0,0,1,0,0,0,1,0,0,0,9
3,1,1,1,1,1,0,0,0,0,0,1,9,0,0
4,1,1,0,0,0,0,0,0,0,0,1,9,0,0

In [589]:
km = KMeans(n_clusters=3, n_jobs=50, random_state=50)
model=km.fit(train)

In [590]:
model.labels_

array([1, 2, 0, 1, 1])

군집에 따른 원하는 컬럼 가져오기(실제로는 벨기에 대신 맥주이름이 들어갈 것임)

In [592]:
for i in range(len(model.labels_)):
    if (model.labels_[i] == 1):
        print(train['벨기에'][i])

0
0
0